<div class="relative w-full h-full">
  <canvas class="map w-full h-full"></canvas>
  <span id="tooltip" class="fixed font-mono font-bold text-sm uppercase text-shadow-sm text-shadow-black"></span>
</div>

<script>
  import debounce from 'debounce'
  import gsap from 'gsap'
  import * as THREE from 'three'
  import { OrbitControls } from 'three/addons/controls/OrbitControls.js'
  import { GLTFLoader } from 'three/examples/jsm/Addons.js';
  import { EARTH_RADIUS } from '../utils/geojson';
  import FakeGlowMaterial from '../utils/FakeGlowMaterial'

  /*
   * Distance to the visible edge of the globe
   * Objects further than this from the camera
   * are not considered eligible for ray tracing
   * as they are presumed to be on the other
   * side of the globe
   */
  const DISTANCE_TO_GLOBE_EDGE = 250
  const COUNTRY_SCALE = 1.06
  const COUNTRY_HIGHLIGHT_SCALE = 1.09
  const SCREEN_WIDTH_LG = 1200
  const CAMERA_DISTANCE = EARTH_RADIUS * 3
  const CONTROLS_DAMPING_FACTOR = 0.05
  const CONTROLS_DAMPING_FACTOR_STRONG = 0.12

  const canvas = document.querySelector('canvas.map')

  const scene = new THREE.Scene()

  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
    pixelRatio: Math.min(window.devicePixelRatio, 2)
  }

  const camera = new THREE.PerspectiveCamera(45, sizes.width / sizes.height, 1, 1000)
  camera.position.set(0, 20, CAMERA_DISTANCE)

  const controls = new OrbitControls(camera, canvas)
  controls.enableDamping = true
  controls.enablePan = false
  controls.enableZoom = false
  controls.minPolarAngle=1
  controls.maxPolarAngle=1.8

  // Set a flag when orbit controls are spinning the camera
  // around the scene. This flag is used to disable click
  // events while spinning the globe, which can lead to
  // countries being selected as the user is rotating.
  // The CLICK_DISTANCE_TOLERANCE defines how far a click
  // can "drag" the globe without disabling the click. This
  // is necessary because the click can be extremely precise
  // and most users will unintentionally move the mouse a
  // little while clicking.
  let lastCameraPos : THREE.Vector3 = camera.position.clone()
  let isSpinning = false
  const CLICK_DISTANCE_TOLERANCE = 30
  controls.addEventListener('start', () => {
    lastCameraPos = camera.position.clone()
    isSpinning = true
  })
  controls.addEventListener('end', () => {
    if (lastCameraPos.distanceTo(camera.position) < CLICK_DISTANCE_TOLERANCE) {
      isSpinning = false
    } else {
      setTimeout(() => {
        isSpinning = false
      }, 1)
    }
  })

  const renderer = new THREE.WebGLRenderer({
    canvas,
    antialias: true,
  })
  renderer.toneMapping = THREE.ACESFilmicToneMapping
  renderer.setSize(sizes.width, sizes.height)
  renderer.setPixelRatio(sizes.pixelRatio)

  const cubeTextureLoader = new THREE.CubeTextureLoader()
  cubeTextureLoader.setPath('milky-way-cube-map/')
  const textureEnvMap = cubeTextureLoader.load([
    'px.jpg',
    'nx.jpg',
    'py.jpg',
    'ny.jpg',
    'pz.jpg',
    'nz.jpg',
  ])

  scene.background = new THREE.Color(0x1a1100)

  scene.add(new THREE.AmbientLight('0xffffff', 0.2))
  const pointLight1 = new THREE.PointLight(0xffffff, 3.0)
  pointLight1.position.set(EARTH_RADIUS * 2, EARTH_RADIUS * 2, EARTH_RADIUS * 2)
  scene.add(pointLight1)
  const pointLight2 = new THREE.PointLight(0xe54600, 1.0) /* rim light */
  pointLight2.position.set(-200, -100, -100)
  scene.add(pointLight2)

  // Opaque globe
  const globe = new THREE.Mesh(
    new THREE.SphereGeometry(EARTH_RADIUS * 0.99, 64, 64),
    new THREE.MeshBasicMaterial({ color: 0x000000 })
  )
  if (sizes.width <= SCREEN_WIDTH_LG) {
    scene.add(globe)
  }

  // Glossy surface
  const surface = new THREE.Mesh(
    new THREE.SphereGeometry(EARTH_RADIUS, 64, 64),
    new THREE.MeshPhysicalMaterial({
      color: 0xbb9900,
      roughness: 0.75,
      metalness: 1,
      thickness: 15,
      clearcoat: 1.0,
      clearcoatRoughness: 0.0,
      ior: 1.5,
      transparent: true,
      opacity: 0.5,
      side: THREE.DoubleSide,
      envMap: textureEnvMap,
      envMapIntensity: 0.5,
    })
  )
  if (sizes.width >= SCREEN_WIDTH_LG) {
    scene.add(surface)
  }

  // Holographic grid
  const grid = new THREE.Mesh(
    new THREE.SphereGeometry(EARTH_RADIUS * 1.05, 32, 32),
    new THREE.MeshBasicMaterial({
      color: 0xffea00,
      wireframe: true,
      transparent: true,
      opacity: 0.035
    })
  )
  scene.add(grid)

  // Outer glow
  const outerGlow = new THREE.Mesh(
    new THREE.SphereGeometry(EARTH_RADIUS * 2, 64, 64),
    new FakeGlowMaterial({
      glowColor: 0x441500,
      opacity: 0.75,
      glowInternalRadius: 6,
    })
  )
  scene.add(outerGlow)

  const countryBGMaterial = new THREE.MeshBasicMaterial({
    visible: false,
  })
  // const countryMaterial = new THREE.MeshPhysicalMaterial({
  //   color: 0xffe5bb,
  //   roughness: 0.75,
  //   metalness: 0.15,
  //   // transmission: 0.5,
  //   // ior: 1.5,
  //   // envMap: textureEnvMap,
  //   // envMapIntensity: 10,
  //   transparent: true,
  //   opacity: 0.75
  //   // clearcoat: 1.0,
  //   // clearcoatRoughness: 0,
  //   // envMapIntensity: 1.5,
  //   // depthWrite: true,
  // })
  const countryMaterial = new THREE.MeshBasicMaterial({
    color: 0xfff500,
    transparent: true,
    opacity: 0.25
  })
  const highlightedCountryMaterial = countryMaterial.clone()
  highlightedCountryMaterial.opacity = 0.5
  const selectedCountryMaterial = countryMaterial.clone()
  selectedCountryMaterial.opacity = 0.9
  const borderMaterial = new THREE.LineBasicMaterial({
    color: 0x998800,
  })
  let countries : THREE.Object3D | null = null
  let countryIntersectionObjects : THREE.Object3D[] = []
  const gltfLoader = new GLTFLoader()
  gltfLoader.load(
    '/globe-country-boundaries-surface-only.glb',
    gltf => {
      countries = gltf.scene
      scene.add(countries)
      countries.children.forEach((country: THREE.Object3D) => {
        country.material = countryMaterial
        country.scale.multiplyScalar(COUNTRY_SCALE)

        // A duplicate country mesh that doesn't move on
        // hover, so that hover targets can be stable.
        // This fixes the flashing issue when a hover
        // animation moves the country out from under
        // the mouse position.
        const bgCountry : THREE.Object3D = country.clone()
        bgCountry.material = countryBGMaterial
        scene.add(bgCountry)

        // Country border outlines
        const border = new THREE.LineSegments(
          new THREE.EdgesGeometry(country.geometry, 30),
          borderMaterial
        )
        country.add(border)

        countryIntersectionObjects.push(country, bgCountry)
      })
    }
  )

  const resize = () => {
    sizes.width = window.innerWidth
    sizes.height = window.innerHeight
    sizes.pixelRatio = Math.min(window.devicePixelRatio, 2)

    if (sizes.width >= SCREEN_WIDTH_LG) {
      if (!surface.parent) {
        scene.add(surface)
      }
      if (!globe.parent) {
        scene.add(globe)
      }
    } else {
      scene.remove(surface)
      scene.remove(globe)
    }

    renderer.setSize(sizes.width, sizes.height)
    renderer.setPixelRatio(sizes.pixelRatio)

    camera.aspect = sizes.width / sizes.height
    camera.updateProjectionMatrix()
  }

  window.addEventListener('resize', debounce(resize, 500))

  const TOOLTIP_OFFSET = 16
  const tooltip = document.getElementById('tooltip')

  let hoverEnabled = true

  const mouse = new THREE.Vector2()
  const raycaster = new THREE.Raycaster()
  canvas.addEventListener('mousemove', e => {
    mouse.x = e.clientX / sizes.width * 2 - 1
    mouse.y = - (e.clientY / sizes.height) * 2 + 1
    tooltip.style.top = e.clientY + TOOLTIP_OFFSET + 'px'
    tooltip.style.left = e.clientX + TOOLTIP_OFFSET + 'px'
  })

  // Prevent hover effects on touch devices
  canvas.addEventListener('touchmove', e => {
    hoverEnabled = false
    mouse.x = -10
    mouse.y = -10
  })

  let highlightedCountry : THREE.Object3D | undefined = undefined
  const highlightCountry = (country?: THREE.Object3D) => {
    if (country && highlightedCountry && country.name === highlightedCountry.name) {
      return
    }
    if (highlightedCountry) {
      highlightedCountry.material = countryMaterial
      gsap.to(highlightedCountry.scale, {
        duration: 0.2,
        ease: 'power2.out',
        x: COUNTRY_SCALE,
        y: COUNTRY_SCALE,
        z: COUNTRY_SCALE,
      })
    }
    if (country) {
      country.material = highlightedCountryMaterial
    }
    highlightedCountry = country
    if (highlightedCountry) {
      gsap.to(highlightedCountry.scale, {
        duration: 0.2,
        ease: 'power2.out',
        x: COUNTRY_HIGHLIGHT_SCALE,
        y: COUNTRY_HIGHLIGHT_SCALE,
        z: COUNTRY_HIGHLIGHT_SCALE,
      })
    }
  }

  let selectedCountry : THREE.Object3D | undefined = undefined
  const selectCountry = (country?: THREE.Object3D) => {
    // Unset any previously selected country
    if (selectedCountry) {
      highlightCountry()
      selectedCountry.material = countryMaterial
      // Second click on country toggles it off
      if (country && country.name === selectedCountry.name) {
        selectedCountry = undefined
        controls.dampingFactor = CONTROLS_DAMPING_FACTOR
        return
      }
    }
    highlightCountry(country)
    if (country) {
      country.material = selectedCountryMaterial
      controls.dampingFactor = CONTROLS_DAMPING_FACTOR_STRONG
      lookAt(country)
    }
    selectedCountry = country
  }

  /**
   * Get the yaw and pitch of a country relative to the
   * scene origin
   *
   * This is used to move the orbit controls so that the
   * country is centered in the view.
   */
  const getObjectYawPitch = (object: THREE.Object3D) : [number, number] => {
    const origin = new THREE.Vector3()
    const dir = new THREE.Vector3()
    dir.subVectors(origin, object.geometry.boundingSphere.center).normalize()
    const yaw = Math.atan2(dir.x, dir.z)
    const pitch = Math.PI - (Math.atan2(Math.sqrt(dir.z * dir.z + dir.x * dir.x), dir.y))
    return [yaw, pitch]
  }

  /**
   * Convert the yaw of an object to the matching azimuth
   * angle for the orbit controls
   */
  const yawToAzimuthAngle = (yaw: number) => {
    return yaw < 0
      ? Math.PI + yaw
      : -1 * Math.PI + yaw
  }

  /**
   * Rotate the controls to focus on a single country
   */
  const lookAt = (country: THREE.Object3D) => {
    const angles = getObjectYawPitch(country)

    let targetAzimuthAngle = yawToAzimuthAngle(angles[0])
    const distance = Math.abs(targetAzimuthAngle - controls.getAzimuthalAngle())
    let rotateLeft = 0
    if (controls.getAzimuthalAngle() > targetAzimuthAngle) {
      if (distance > Math.PI) {
        rotateLeft = (Math.PI - controls.getAzimuthalAngle()) + (Math.PI - Math.abs(targetAzimuthAngle))
      } else {
        rotateLeft = targetAzimuthAngle - controls.getAzimuthalAngle()
      }
    } else {
      if (distance > Math.PI) {
        rotateLeft = -1 * (Math.PI - Math.abs(controls.getAzimuthalAngle()) + (Math.PI - Math.abs(targetAzimuthAngle)))
      } else {
        rotateLeft = distance
      }
    }
    controls.rotateLeft(- rotateLeft)

    const targetPolarAngle = Math.max(1.0, Math.min(1.8, angles[1]))
    const rotateUp = controls.getPolarAngle() - targetPolarAngle
    controls.rotateUp(rotateUp)
  }

  canvas.addEventListener('click', e => {
    // Disable click interactions while spinning the globe
    if (isSpinning || !countries) {
      return
    }
    mouse.x = e.clientX / sizes.width * 2 - 1
    mouse.y = - (e.clientY / sizes.height) * 2 + 1
    const countriesFacingCamera = getObjectsFacingCamera(countryIntersectionObjects)
    raycaster.setFromCamera(mouse, camera)
    const intersectedCountries = raycaster.intersectObjects(countriesFacingCamera, false)
    const country : THREE.Object3D | undefined = intersectedCountries.length
      ? countries.children.find(country => country.name === intersectedCountries[0].object.name)
      : undefined
    selectCountry(country)
  })

  const getObjectsFacingCamera = (objects: THREE.Object3D[]) => {
    return objects.filter((object: THREE.Object3D) => {
      return object.geometry.boundingSphere.distanceToPoint(camera.position) < DISTANCE_TO_GLOBE_EDGE
    })
  }

  const tick = () => {

    // Hover effect
    if (hoverEnabled && countries) {
      const countriesFacingCamera = getObjectsFacingCamera(countryIntersectionObjects)
      raycaster.setFromCamera(mouse, camera)
      const intersectedCountries = raycaster.intersectObjects(countriesFacingCamera, false)
      const country : THREE.Object3D | undefined = intersectedCountries.length
        ? countries.children.find(country => country.name === intersectedCountries[0].object.name)
        : undefined
      if (tooltip) {
        tooltip.innerHTML = country?.name ?? ''
      }
      if (!selectedCountry) {
        highlightCountry(country)
      }
    }

    controls.update()
    renderer.render(scene, camera)

    window.requestAnimationFrame(tick)
  }

  tick()
</script>